.web-intro {
    position: relative;
    z-index: 100001;
}

#video-intro-container {
    position: fixed;
    bottom: 130px;
    right: 13px;
    z-index: 100001;
}

video#video-intro {
    z-index: 100001;
    width: 100px;
    height: 100px;
    object-fit: fill;
    border-radius: 200px;
    transition: transform 0.25s, width 0.25s, height 0.25s;
}

video#video-intro:hover {
    transform: scale(1.1);
    cursor: pointer;
}
